.personnality {
  z-index: 3;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7.7rem;
  width: 500px;
  height: 78vh;
  background-color: #e3950e;
  border-radius: 20px 0 20px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
  animation: apparitionPersonnality 2s ease-out;
}

// ========== ANIMATION ==========
@keyframes apparitionPersonnality {
    from {
      transform:  rotateY(180deg) translateX(20rem);
    }
    50% {
      transform: translateX(0);
    }
    to {
      transform:  rotateY(0deg) ;
    }
}
