@use 'reset';
@use 'vars';

body {
  background-color: #30b8a1;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Carattere', cursive;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
