header {
  position: relative;
  
  .header-start {
    z-index: 1;
    font-size: 1.3rem;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    width: 50%;
    background-color: #f5d133;
    border-radius: 20px 0 0 0;
    text-align: left;
    padding: 1rem 1rem 0;
  }
  .header-end {
    font-size: 1.3rem;
    position: absolute;
    z-index: 4;
    top: 3.8rem;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    width: 50%;
    background-color: #fff59d;
    margin-left: 50%;
    padding: 1rem;
    animation: apparition 1s ease-out;
  }
}


