.nav {
  background-color: #f5d133;
  height: 5.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
  .nav-items {
    z-index: 2;
    position: absolute;
    left: 0rem;
    top: 3.6rem;
    #personnality {
      background-color: #e3950e;
    }
    #project {
      background-color: #33A61E;
    }
    #contact {
      background-color: #475BCB;
    }
    .nav-item {
      padding: 1rem 1rem 3.5rem;
      border-radius: 15px 15px 0 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }
}
